<div class="container-fluid text-center">
  <%= form_for @job do |f| %>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "#{t("login.username")}" %>
    </div>
    <%= f.submit "Tạo công việc", class:"btn btn-primary" %>
  <% end %>
</div>
